body {
    position:absolute;
    left:0;
    top:0;
    width:7.5in;
    height:9.9in;
    margin:0;
    padding:0;
    font-size:12px;
}

#page {
    font-family:Arial, 'Droid Serif';
}

h1, h2, h3, h4 {
    margin:0 auto;
    text-align:center;
}
h1 {
    font-size:1.75cm;
    margin:2cm auto;
    width:7in;
}
h2 {
    font-size:1cm;
    margin:0.5cm auto;
    width:7in;
}
h3 {
    font-size:0.8cm;
    margin:1cm auto;
    width:6in;
}
h4 {
    font-size:0.5cm;
    margin:1cm auto;
    width:6in;
}

/* ---------------------------------------------------------------------- */

div#editor {
    display:none;
}

#render {
    width:10em;
    font-size:2em;
}
#more-options {
    display:block;
}
#editor-options {
    display:none;
}

li * {
    vertical-align:middle;
}

button {
    display:block;
    font-size:18px;
}

/* ---------------------------------------------------------------------- */

div#styleEditor {
    /* display:none; */
}
div#fontChooserContainer {
    display:none;
    height:20em;
    width:26em;
}
#styleEditor h3 { 
    text-align:left;
}

