<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/front.css" />
  </head>

  <body>
    <h1>Flyer Generator 1.2</h1>

    <ul>
      {% for event in events: %}
      <a href="/flyer/{{ event["id"] }}">
        <li class="event">
          <h2>{{ event["title"] }}</h2>
          <time>
            Time:
            <span>{{ event["datetime"] }}</span>
          </time>
          <div>Location: <span>{{ event["location"] }}</span></div>
          <div>Description: <span>{{ event["description"] }}</span></div>
        </li>
      </a>
      {% endfor %}

      <a href="/flyer/">
        <li>
          <h2>Play with an empty template</h2>
        </li>
      </a>
    </ul>
  </body>
</html>
