<!doctype html>
<html>
  <head>
    <script src="/js/jquery-1.4.2.min.js"></script>
    <script src="/js/front.js"></script>
  </head>

  <body>
    <h1>Hi world!</h1>

    <ul>
      {% for event in events: %}
      <li class="event">
        <h2>{{ event[0]["title"] }}</h2>
        <time>
          <span>{{ event[0]["datetime"] }}</span>
          <span>{{ event[0]["time"] }}</span>
        </time>
        <div>{{ event[0]["location"] }}</div>
        <div>{{ event[0]["description"] }}</div>
        <div class="data" style="display:none;">
          {{ event[1] }}
        </div>
      </li>
      {% endfor %}

      <a href="/template">
        <li>
          <h2>Play with an empty template</h2>
        </li>
      </a>
    </ul>
  </body>
</html>
